{#
/**
 * @file
 * 
 */
#}
{{ form.form_build_id }}
{{ form.form_token }}
{{ form.form_id }}
{% spaceless %}
  <div class="row">
    <div class="col-md-3">
      <label class="control-label form-required">Mã Khách Hàng:</label>
    </div>
    <div class="col-md-6">
      {{ form.customer_code }}
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <label class="control-label form-required">Họ Tên Khách Hàng:</label>
    </div>
    <div class="col-md-6">
      {{ form.customer_name }}
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <label class="control-label">Địa Chỉ Khách Hàng:</label>
    </div>
    <div class="col-md-6">
      {{ form.customer_address }}
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <label class="control-label">Người Đại Diện:</label>
    </div>
    <div class="col-md-6">
      {{ form.customer_represent }}
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <label class="control-label">Số Điện Thoại:</label>
    </div>
    <div class="col-md-6">
      {{ form.customer_mobiphone }}
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <label class="control-label">Loại Công Nợ:</label>
    </div>
    <div class="col-md-6">
      {{ form.customer_debt }}
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
    </div>
    <div class="col-md-9">
      {{ form.submit }}
      {{ form.cancel }}
    </div>
  </div>
{% endspaceless %}
