{#
/**
 * @file
 * 
 */
#}
{{ form.form_build_id }}
{{ form.form_token }}
{{ form.form_id }}
{% spaceless %}
  <div class="row">
    <div class="col-md-12">
     {{ form.customer_code }}
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
     {{ form.customer_name }}
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
     {{ form.customer_address }}
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
     {{ form.customer_represent }}
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
     {{ form.customer_mobiphone }}
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      {{ form.submit }}
      {{ form.cancel }}
    </div>
  </div>
{% endspaceless %}
