{#
/**
 * @file
 * 
 */
#}
{{ ship_form.form_build_id }}
{{ ship_form.form_token }}
{{ ship_form.form_id }}
{% spaceless %}
  <div class="row">
    <div class="col-md-2">
     <label class="control-label form-required">Chuyến Hàng:</label>
    </div>
    <div class="col-md-6">
      {{ ship_form.ship }}
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      {{ ship_form.driver }}
    </div>
    <div class="col-md-4">
      {{ ship_form.sub_driver1 }}
    </div>
    <div class="col-md-4">
      {{ ship_form.sub_driver2 }}
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <input id="add_customer" class="btn btn-primary" type="button" value="Thêm Khách Hàng" />
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <table id="table_shipping" class="display" cellspacing="0" width="100%">
        <thead>
          <tr>
            <th>Khách Hàng</th>
            <th>Mi</th>
            <th>Bia</th>
            <th>Xay</th>
            <th>Cắt</th>
            <th>Rượu</th>
          </tr>
        </thead>
        <tbody>
          {% for ship in list_ship %}
            <tr>
              <td>{{ ship.customer_name }}</td>
              <td>{{ ship.mi_quantity }}</td>
              <td>{{ ship.bia_quantity }}</td>
              <td>{{ ship.xay_quantity }}</td>
              <td>{{ ship.cat_quantity }}</td>
              <td>{{ ship.ruou_quantity }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      {{ ship_form.submit }}
    </div>
  </div>
{% endspaceless %}
